



	body {
		background-color: lightyellow;
		
	
	}

	h1 {
		color: lightblue;
		background-color: pink;
		text-align: center;
	
	
	}
	
	
	p {
		
		color: green;
		background-color; yellow;
		text-align: justify;
	
		
	}


